<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="clickstream.eventvisualiser.ui">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application>
        <activity
            android:name="clickstream.eventvisualiser.ui.internal.ui.activity.CSEvHomeActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
    </application>

</manifest>